{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Malaria diagnosis Project</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}"  rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}"  rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700' %}"  rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}"  rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}"  rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}"  rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}"  rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}"  rel="stylesheet">
  <link href="{% static 'lib/magnific-popup/magnific-popup.css' %}"  rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}"  rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}"  rel="stylesheet">

  <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="body">

  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="{% static 'mailto:contact@example.com' %}" >fayomihorace@gmail.com</a>
        <i class="fa fa-phone"></i> +229 67 71 42 29
      </div>
      <div class="social-links float-right">
        <a href="{% static '#' %}"  class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="{% static '#' %}"  class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="{% static '#' %}"  class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="{% static '#' %}"  class="google-plus"><i class="fa fa-google-plus"></i></a>
        <a href="{% static '#' %}"  class="linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left" style=" margin-bottom: 0; padding-bottom: 0">
        <h1 style="font-size: 1.7em;"><a href="{% static '#body' %}"  class="scrollto">Pred<span>Malaria</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="{% static '#body' %}" ><img src="{% static 'img/logo.png' %}"  alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="{% static '#body' %}" >Accueil</a></li>
          <li><a href="{% static '#about' %}" >A propos</a></li>
          <li><a href="{% static '#services' %}" >Services</a></li>
          <li><a href="{% static '#team' %}" >Equipe</a></li>
          <li><a href="{% static '#contact' %}" >Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-content">
      <h2 style="font-size: 1.6em; color: white">Un diagnostique du <span>Paludisme</span>, plus précis, plus fiable et surtout plus rapide </h2>
      <div>
        <a href="{% static '#about' %}"  class="btn-get-started scrollto"> &nbsp S'inscrire &nbsp</a>
        <a href="{% static '#portfolio' %}"  class="btn-projects scrollto">Se connecter</a>
      </div>
    </div>

    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url('img/blood-cells/4.jpg');"></div>
      <div class="item" style="background-image: url('img/blood-cells/2.jpg');"></div>
    </div>

  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="{% static 'img/blood-cells/5.jpg' %}"  alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>PredMalaria</h2>
            <h3>C'est un dispositif d'analyse microscopique des frottis du sang basé sur l'intelligence artificiel permettant : </h3>

            <ul>
              <li><i class="ion-android-checkmark-circle"></i> d'identifier les types de parasites (plasmodie). </li>
              <li><i class="ion-android-checkmark-circle"></i> d'identifier le stade des parasites.</li>
              <li><i class="ion-android-checkmark-circle"></i> de faire le comptage automatique et d'établir une parasitémie précise.</li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Services</h2>
          <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="{% static '' %}" >Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident etiro rabeta lingo.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="fa fa-picture-o"></i></div>
              <h4 class="title"><a href="{% static '' %}" >Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata nodera clas.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="{% static '' %}" >Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur trinige zareta lobur trade.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-map"></i></div>
              <h4 class="title"><a href="{% static '' %}" >Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum rideta zanox satirente madera</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Clients</h2>
          <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
        </div>

        <div class="owl-carousel clients-carousel">
          <img src="{% static 'img/clients/client-1.png' %}"  alt="">
          <img src="{% static 'img/clients/client-2.png' %}"  alt="">
          <img src="{% static 'img/clients/client-3.png' %}"  alt="">
          <img src="{% static 'img/clients/client-4.png' %}"  alt="">
          <img src="{% static 'img/clients/client-5.png' %}"  alt="">
          <img src="{% static 'img/clients/client-6.png' %}"  alt="">
          <img src="{% static 'img/clients/client-7.png' %}"  alt="">
          <img src="{% static 'img/clients/client-8.png' %}"  alt="">
        </div>

      </div>
    </section><!-- #clients -->

    <!--==========================
      Our Portfolio Section
    ============================-->
    <section id="portfolio" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Our Portfolio</h2>
          <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="{% static 'img/portfolio/1.jpg' %}"  class="portfolio-popup">
                <img src="{% static 'img/portfolio/1.jpg' %}"  alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 1</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="{% static 'img/portfolio/2.jpg' %}"  class="portfolio-popup">
                <img src="{% static 'img/portfolio/2.jpg' %}"  alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 2</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="{% static 'img/portfolio/3.jpg' %}"  class="portfolio-popup">
                <img src="{% static 'img/portfolio/3.jpg' %}"  alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 3</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="{% static 'img/portfolio/4.jpg' %}"  class="portfolio-popup">
                <img src="{% static 'img/portfolio/4.jpg' %}"  alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 4</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="{% static 'img/portfolio/5.jpg' %}"  class="portfolio-popup">
                <img src="{% static 'img/portfolio/5.jpg' %}"  alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 5</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="{% static 'img/portfolio/6.jpg' %}"  class="portfolio-popup">
                <img src="{% static 'img/portfolio/6.jpg' %}"  alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 6</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="{% static 'img/portfolio/7.jpg' %}"  class="portfolio-popup">
                <img src="{% static 'img/portfolio/7.jpg' %}"  alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 7</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="{% static 'img/portfolio/8.jpg' %}"  class="portfolio-popup">
                <img src="{% static 'img/portfolio/8.jpg' %}"  alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 8</h2></div>
                </div>
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Testimonials Section
    ============================-->
    <section id="testimonials" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
        </div>
        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
              <p>
                <img src="{% static 'img/quote-sign-left.png' %}"  class="quote-sign-left" alt="">
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <img src="{% static 'img/quote-sign-right.png' %}"  class="quote-sign-right" alt="">
              </p>
              <img src="{% static 'img/testimonial-1.jpg' %}"  class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="{% static 'img/quote-sign-left.png' %}"  class="quote-sign-left" alt="">
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <img src="{% static 'img/quote-sign-right.png' %}"  class="quote-sign-right" alt="">
              </p>
              <img src="{% static 'img/testimonial-2.jpg' %}"  class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="{% static 'img/quote-sign-left.png' %}"  class="quote-sign-left" alt="">
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                <img src="{% static 'img/quote-sign-right.png' %}"  class="quote-sign-right" alt="">
              </p>
              <img src="{% static 'img/testimonial-3.jpg' %}"  class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="{% static 'img/quote-sign-left.png' %}"  class="quote-sign-left" alt="">
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <img src="{% static 'img/quote-sign-right.png' %}"  class="quote-sign-right" alt="">
              </p>
              <img src="{% static 'img/testimonial-4.jpg' %}"  class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="{% static 'img/quote-sign-left.png' %}"  class="quote-sign-left" alt="">
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <img src="{% static 'img/quote-sign-right.png' %}"  class="quote-sign-right" alt="">
              </p>
              <img src="{% static 'img/testimonial-5.jpg' %}"  class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
            </div>

        </div>

      </div>
    </section!-->
    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Call To Action</h3>
            <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="{% static '#' %}" >Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Our Team Section
    ============================-->
    <section id="team" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Our Team</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="{% static 'img/team-1.jpg' %}"  alt=""></div>
              <div class="details">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <div class="social">
                  <a href="{% static '' %}" ><i class="fa fa-twitter"></i></a>
                  <a href="{% static '' %}" ><i class="fa fa-facebook"></i></a>
                  <a href="{% static '' %}" ><i class="fa fa-google-plus"></i></a>
                  <a href="{% static '' %}" ><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="{% static 'img/team-2.jpg' %}"  alt=""></div>
              <div class="details">
                <h4>Sarah Jhinson</h4>
                <span>Product Manager</span>
                <div class="social">
                  <a href="{% static '' %}" ><i class="fa fa-twitter"></i></a>
                  <a href="{% static '' %}" ><i class="fa fa-facebook"></i></a>
                  <a href="{% static '' %}" ><i class="fa fa-google-plus"></i></a>
                  <a href="{% static '' %}" ><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="{% static 'img/team-3.jpg' %}"  alt=""></div>
              <div class="details">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <div class="social">
                  <a href="{% static '' %}" ><i class="fa fa-twitter"></i></a>
                  <a href="{% static '' %}" ><i class="fa fa-facebook"></i></a>
                  <a href="{% static '' %}" ><i class="fa fa-google-plus"></i></a>
                  <a href="{% static '' %}" ><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="{% static 'img/team-4.jpg' %}"  alt=""></div>
              <div class="details">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <div class="social">
                  <a href="{% static '' %}" ><i class="fa fa-twitter"></i></a>
                  <a href="{% static '' %}" ><i class="fa fa-facebook"></i></a>
                  <a href="{% static '' %}" ><i class="fa fa-google-plus"></i></a>
                  <a href="{% static '' %}" ><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Contact Us</h2>
          <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>A108 Adam Street, NY 535022, USA</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="{% static 'tel:+155895548855' %}" >+1 5589 55488 55</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="{% static 'mailto:info@example.com' %}" >info@example.com</a></p>
            </div>
          </div>

        </div>
      </div>

      <div class="container mb-4">
        <iframe src="{% static 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452' %}"  width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <div class="container">
        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Reveal</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
        -->
        Designed by <a href="{% static 'https://bootstrapmade.com/' %}" >BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="{% static '#' %}"  class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}" ></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}" ></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}" ></script>
  <script src="{% static 'lib/easing/easing.min.js' %}" ></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}" ></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}" ></script>
  <script src="{% static 'lib/wow/wow.min.js' %}" ></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}" ></script>
  <script src="{% static 'lib/magnific-popup/magnific-popup.min.js' %}" ></script>
  <script src="{% static 'lib/sticky/sticky.js' %}" ></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}" ></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}" ></script>

</body>
</html>
