{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Malaria diagnosis Project</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700' %}"
        rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="body">


    <!--==========================
    Header
  ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left" style=" margin-bottom: 0; padding-bottom: 0">
                <h1 style="font-size: 1.7em;"><a href="/" class="scrollto">Pred<span>Malaria</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="{% static '#body' %}" ><img src="{% static 'img/logo.png' %}"  alt="" title="" /></a>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">Accueil</a></li>
                    <li><a href="#about">{{user}}</a></li>
                    <li><a href="#contact">Déconnexion</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->


    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container">
            <div class="section-header">
                <h2>Nouvelle analyse</h2>
                <input type="file" class="" id="image">
                <button class="btn btn-primary" id="analyser">Analyser</button>  
            </div>
            <div class="row ">
                <div class="col-lg-6">
                    <div class="box wow fadeInLeft">
                        <div class="icon"> 
                            <img id="imageView" src=""
                                style="height: 270px; width: 270px; border-radius: 50%" alt="" title="" /> 
                        </div>
                        <p class="description"></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box wow fadeInLeft">
                        <div class="icon"> 
                            <img id="prediction" src=""
                                style="height: 270px; width: 270px; border-radius: 50%" alt="" title="" />
                        </div>
                        <p class="description"></p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #services -->



    </main>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer" style="margin-top: 22% ">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Reveal</strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="{% static 'https://bootstrapmade.com/' %}">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
    <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/magnific-popup/magnific-popup.min.js' %}"></script>
    <script src="{% static 'lib/sticky/sticky.js' %}"></script>

    <!-- Contact Form JavaScript File -->
    <script src="{% static 'contactform/contactform.js' %}"></script>

    <!-- Template Main Javascript File -->
    <script src="{% static 'js/main.js' %}"></script>

    <script type="text/javascript">
        'use strict';
        $('#analyser').click( function () {
            console.log('cool')
            $('#imageView').attr('src', $(this).attr('src'))
            const image = document.getElementById('imageView')
            var file = null
            fetch(image.src).then(res => res.blob()).then(blob => {
                file = new File([blob], 'image.jpg', blob)
                console.log('before call api: ' + file.name)
                var form = new FormData();
                form.append("file", file);
                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "/addImage/0",
                    "method": "POST",
                    "processData": false,
                    "contentType": false,
                    "data": form
                }
                $.ajax(settings).done(function (response) {
                    console.log('cool')
                    console.log(response.message)
                    $('#prediction').attr('src', '/static/prediction.jpg').css('display','block');
                });
            })
        })
    </script>
    <script type="text/javascript">
        $("#image").change(function() {
          readURL(this);
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                console.log('cool')
                reader.onload = function (e) {
                    $('#imageView').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

</body>

</html>
