{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Malaria diagnosis Project</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}"  rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}"  rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700' %}"  rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}"  rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}"  rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}"  rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}"  rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}"  rel="stylesheet">
  <link href="{% static 'lib/magnific-popup/magnific-popup.css' %}"  rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}"  rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}"  rel="stylesheet">

  <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>


  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left" style=" margin-bottom: 0; padding-bottom: 0">
        <h1 style="font-size: 1.7em;"><a href="#"  class="scrollto">Pred<span>Malaria</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="{% static '#body' %}" ><img src="{% static 'img/logo.png' %}"  alt="" title="" /></a>-->
      </div>

    
    </div>
  </header><!-- #header -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp" style="margin-top: 5%">
      <div class="container">
        <div class="section-header">
          <h2>Connexion</h2>
        </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="form col-md-4">
          <form action="/login" method="post" >
            {% csrf_token %}
              <input  class="form-control" name="username" id="username" placeholder="Nom d'utilisateur"  />
              <input type="password"  class="form-control" name="password" id="password" placeholder="Mot de passe" />
              <button type="submit">Se connecter</button>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer" style="margin-top: 5%">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Reveal</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
        -->
        Designed by <a href="{% static 'https://bootstrapmade.com/' %}" >BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#"  class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}" ></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}" ></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}" ></script>
  <script src="{% static 'lib/easing/easing.min.js' %}" ></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}" ></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}" ></script>
  <script src="{% static 'lib/wow/wow.min.js' %}" ></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}" ></script>
  <script src="{% static 'lib/magnific-popup/magnific-popup.min.js' %}" ></script>
  <script src="{% static 'lib/sticky/sticky.js' %}" ></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}" ></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}" ></script>

  <script type="text/javascript">
    $(function(){
      $('form *').css('margin','20px');
    })
  </script>
</body>
</html>
